@tailwind base;
@tailwind components;
@tailwind utilities;


/* @layer base {
  ul, ol {
    list-style: revert;
  }
} */

@layer utilities {
  .scrollbar-custom::-webkit-scrollbar {
    width: 12px;
  }

  /* Light Theme */
  .scrollbar-custom::-webkit-scrollbar-track {
    background: theme("backgroundColor.primaryLightMain"); /* Match light theme background */
    backdrop-filter: blur(10px); /* Glass effect */
  }

  .scrollbar-custom::-webkit-scrollbar-thumb {
    background: theme("colors.scrollbarLight"); /* Light thumb color */
    border-radius: 10px;
  }

  .scrollbar-custom:hover::-webkit-scrollbar-thumb {
    background: rgba(53, 122, 189, 0.9); /* Hover color for light theme */
  }

  /* Dark Theme */
  .dark .scrollbar-custom::-webkit-scrollbar-track {
    background: theme("backgroundColor.primaryDarkMain"); /* Match dark theme background */
  }

  .dark .scrollbar-custom::-webkit-scrollbar-thumb {
    background: theme("colors.scrollbarDark"); /* Dark thumb color */
  }

}
#loading-screen {
  @apply fixed inset-0 flex items-center justify-center z-50;
  background-color:theme("backgroundColor.primaryLightMain"); /* Default to white for light theme */
}

.dark #loading-screen {
  background-color:theme("backgroundColor.primaryDarkMain"); /* Change to black for dark theme */
}

.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}